### Daum Exchange
- `https://finance.daum.net`
- 서버에서 어뷰징을 막는 경우 해결 방법

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests

In [11]:
# 1. 웹서비스분석 : URL
url = 'https://finance.daum.net/api/exchanges/summaries'
headers = {
    'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
    'referer' : 'https://finance.daum.net/exchanges'
}
# 2. request(URL) > response(json(str))
response = requests.get(url, headers=headers)
response


# 3. json(str) > list, dict > DataFrame
df = pd.DataFrame(response.json()['data'])
df.tail(2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
40,FRX.KRWQAR,2023-02-16 15:07:41,QAR,리얄,1,카타르,"{'korName': '중동', 'engName': 'Middle East'}",카타르 (KRW/QAR),522,351.79,...,0.002948,0.0,0.0,0.00,0.00,None,None,3.355,0.2742,{'day': 'https://t1.daumcdn.net/finance/chart/...
41,FRX.KRWTRY,2023-02-16 15:07:41,TRY,리라,1,터키,"{'korName': '중동', 'engName': 'Middle East'}",터키 (KRW/TRY),522,68.08,...,0.002783,0.0,0.0,67.34,68.82,None,None,26.400,0.0531,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [13]:
pd.options.display.max_columns = 30

In [14]:
df.tail(2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,change,changePrice,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
40,FRX.KRWQAR,2023-02-16 15:07:41,QAR,리얄,1,카타르,"{'korName': '중동', 'engName': 'Middle East'}",카타르 (KRW/QAR),522,351.79,FALL,1.04,0.002948,0.0,0.0,0.00,0.00,None,None,3.355,0.2742,{'day': 'https://t1.daumcdn.net/finance/chart/...
41,FRX.KRWTRY,2023-02-16 15:07:41,TRY,리라,1,터키,"{'korName': '중동', 'engName': 'Middle East'}",터키 (KRW/TRY),522,68.08,FALL,0.19,0.002783,0.0,0.0,67.34,68.82,None,None,26.400,0.0531,{'day': 'https://t1.daumcdn.net/finance/chart/...